<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-BNNzTtvTgTqF3Fr9ZbvQGOWMkmE4ODLYs8sDPiA4RgPVlErm/jRVYKbWk9XJhFtA1fB2Q+mPAiKxrbxvzLc1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://127.0.0.1:8000/#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
  </nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-4DE4I1f4sCZdDgKoL//NuyFqr+cLgYwpUhE1CcMch1xZOTncov0K0cOXBLzNlt7V+NEeUIHgY9fjgEJpAI+dyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

 
 
 <h1>Your Shopping Cart</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.product.cost|floatformat:2 }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
        <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-danger"></a>
      {% empty %}
        <tr>
          <td colspan="4">Your cart is empty.</td>
        </tr>
      {% endfor %}
      {% if cart %}
        <tr>
          <td colspan="3" class="text-right">Total:</td>
          <td>${{ cart.get_total_price }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>${{ item.product.cost|floatformat:2 }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.get_total_price|floatformat:2 }}</td>
          <td>
            <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-danger">Remove</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Your cart is empty.</td>
        </tr>
      {% endfor %}
      {% if cart %}
        <tr>
          <td colspan="3" class="text-right">Total:</td>
          <td>${{ cart.get_total_price|floatformat:2 }}</td>
          <td></td>
        </tr>
      {% endif %}
    </tbody>
  </table>
